<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarCollections.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CollectionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DeclarativeLayout.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DemoLayouts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LayoutDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A510C7B41D607464004E5F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A510C7CA1D607477004E5F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A539F83D1D3B6B2A0069A2B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A539F8531D3B6B430069A2B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A59A05851D39130C00E6B652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A59A058F1D39130D00E6B652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
